@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Are you sure you want to delete Stylist?</h2>

<h4><span class="heavy2">@Html.DisplayNameFor(model => model.Name):</span> @Html.DisplayFor(model => model.Name)</h4>
<br><br>

@using (Html.BeginForm())
{
  <div class="divClass">
    <input type="submit" value="Delete" class="btnDanger" />
  </div>
}

<br><br><br>

@Html.ActionLink("Back to List", "Index")