@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Are you sure you want to delete this Client?</h2>


<h4><span class="heavy2">@Html.DisplayNameFor(model => model.Description):</span> @Html.DisplayFor(model =>
  model.Description)</h4>
<br><br>

@using (Html.BeginForm())
{
  <div class="divClass">
    <input type="submit" value="Delete" class="btnDanger" />
  </div>
}

<br><br><br>
@Html.ActionLink("Back to List", "Index")