@{
  Layout = "_Layout";
}

<h1>Add a new Client to @Model.Name</h1>

<form action="/stylists/@Model.Id/clients" method="post">
  <input id="stylistId" name="stylistId" type="hidden" value="@Model.Id">
  <label for="clientDescription">Client Description</label>
  <input id="clientDescription" name="clientDescription" type="text">
  <button type='submit'>Add Client</button>
</form>